*{
	margin: auto;
	padding: 0;
}

html
{
	margin: 0px auto;
}


body
{
	background-color: #000000;
	margin: 0px;

}

label
{
	color:#DEDEDE;
}
.logo_itr
{
	max-width:211px;
	margin-left:32px;
	margin-top: 10px;
	position: fixed;
	z-index:1000;
	background-color:#000000;
}
.footer
{
	left: 0;
    bottom: 0;
    width: 100%;
    
    text-align: center;
}
.service_itr
{
	max-width:128px;
	vertical-align: top;
}

.menu nav
{
		margin:22px 7% 0 20px;
}


 .home body
  		   {
				background-color: #000000;
				margin: 0px;
				overflow: hidden;
			}

.home a
	{
		color:#0078ff;
	}



.page_title
{
	margin-top:25px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 30px;
	color:#FFFFFF;
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;
}

.page_title:hover
{
	color:#28B4DE;	
}

.logo
{
	max-width:211px;
	margin-left:52px; 
	position: fixed;
	margin-top:15px;
}

.row
{
	margin:auto;
  max-width: 80%;
  margin-top: 1em;

}

.border
{
	border: 3px solid #25A6CD;
}

.line
{
	margin: auto;
	position:absolute;

}
.vice_title
{
	padding: 20px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	color:#FFFFFF;
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;
}

.vice_title:hover
{
	color:#119DDE;
}

.right_logo
{
	max-width: 256px;
	margin: auto;
	display: inline-block;
	vertical-align: top;
}

p
{
	font-size:15px;
	font-weight: 300;
	color:#FFFFFF;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	margin:0.5em;
}

.left_about p
{
	max-width: 80%;
	font-size:16px;
	color:#FFFFFF;
	font-family: 'Titillium Web', sans-serif;
}



.button {
    background-color: #008E8F;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#contact input[type=text]
{
	background-color:#000000;
	border: 2px solid #00B6F4;
	font-size: 15px;
	font-family: 'Titillium Web', sans-serif;
	color:#FFFFFF;

}
#contact textarea
{
	
	height: 200px;
	background-color:#000000;
	border: 2px solid #00B6F4;
	font-size: 15px;
	font-family: 'Titillium Web', sans-serif;
	color:#FFFFFF;
}
#contact input[type=tel]
{
	background-color:#000000;
	border: 2px solid #00B6F4;
	font-size: 15px;
	font-family: 'Titillium Web', sans-serif;
	color:#FFFFFF;

}

#contact input[type=email]
{
	background-color:#000000;
	border: 2px solid #00B6F4;
	font-size: 15px;
	font-family: 'Titillium Web', sans-serif;
	color:#FFFFFF;
}
#team img
{
	max-width: 116px;
	max-height: 190px;
}


.team_member
{
	font-family: 'Amatic SC', cursive;
	font-size:40px;.
	color: #FFFFFF;
}

.team_member:hover
{
	color:#119DDE;
}

.team_member_position
{
	font-family: 'Amatic SC', cursive;
	font-size:30px;.
	color: #FFFFFF;
}

.inline
{
	display: inline-block;
	vertical-align: top;
}

.contact_form
{

	border-radius: 4px;
}

.fa-youtube-play:hover
{
	color:#FF0000;
}
.fa-facebook:hover
{
	color: #3B5C9F;
}
.fa-github
{
	color:#222222;
}
input[type=text], input[type=tel],input[type=email],select, textarea 
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
}
.ab_mob
{
 display: none;
}
.maps
{
		width:500px;
		height: 450px;
}



input[type=submit] {
    background-color: #00B6F4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#center {
    width:200px;
    height:200px;
    left:100px;
    top:100px;
    
}
#sat0, #sat1, #sat2, #sat3, #sat4 ,#sat5{
    width:50px;
    height:50px;
    
}


/*media for responsive */

@media screen and (max-width: 1250px)  {
 

}

@media screen and (max-width: 560px)  {
   canvas{
        display: none;
    }
   body
   {
   background-color: #000000;
   }
}

@media screen and (max-width: 1000px)  {
   .maps
	{
		width:400px;
		height: 350px;
	}
	h3
	{
		font-size:0.90rem;
	}

	.ab_mob
    {
        display: inherit;
    }
  .big_dasktop
  {
    display: none;
  }
}



