*{
	margin: auto;
	padding: 0;
}

html
{
	margin: 0px auto;
}


body
{
	background-color: #000000;
}
/*20%*/
.menu nav
{
		margin:22px 7% 0 20px;
}


 .home body
  		   {
				background-color: #000000;
				margin: 0px;
				overflow: hidden;
			}

.home a
	{
		color:#0078ff;
	}

.page_title
{
	margin-top:25px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 30px;
	color:#FFFFFF;
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;
}

.page_title:hover
{
	color:#28B4DE;	
}

.row
{
	margin:auto;
  max-width: 80%;
  margin-top: 1em;

}

.right_logo
{
	max-width: 256px;
	margin: auto;
	display: inline-block;
	vertical-align: top;
}

p
{
	font-size:15px;
	font-weight: 300;
	color:#FFFFFF;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	margin:0.5em;
}

.left_about p
{
	max-width: 80%;
	font-size:16px;
	color:#FFFFFF;
	font-family: 'Titillium Web', sans-serif;
}

.button {
    background-color: #008E8F;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}




/*portfolio*/

 .portfolio_right
{
	max-width: 80%;
	font-size: 16px;
	color:#CBCBCB;
	font-family: 'Titillium Web', sans-serif;

}




.projects
{
	max-width: 40%;
	display: inline-block;
	vertical-align: top;
	float:left;
	margin-left:16%;
}

.project
{
	max-width: 256px;
	max-height: 162px;
	display: inline-block;
	vertical-align: top;
	margin:0.1em;
}


.portfolio div
{
	display: flex;
	flex-direction: column;
}


/*
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #007FA2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #000000;
}
*/

